*{
    margin: 0;
    padding: 0;
    
}

div.header {
    border: 1px solid;
    background-image: url('../maket/img/img\ 1.png');
    
    background-repeat: no-repeat;
    background-position: top right;
}
    
div.conteiner {
    width: 1280px; margin: 0px auto;
    border: 1px solid red;
}
ul.hr{
    margin: 0 0 0 75px;
    
   
}
ul.hr li{
    font-size: 13px;
    display: inline-block;
    margin: 17px;
    
    
}
span
button.btn {
    padding: 5px 0px;
    height: 32px;
    width: 130px;
    border-radius: 95px;
    margin: 8px 8px;
    background-color: rgba(255, 255,255, 0,26);
    border: none;
}
h1.h1{
    font-size: 70px;
}
p.p1{
    font-size: 20px;
}
button.btn1{
    border-radius: 105px;
    width: 123px;
    height: 37px;
    margin: 34px 0px;
    background-color: blue;
    color: rgba(255, 255, 255, 1);
    border: none;

}
p.p2{
    font-size: 16px;
    height: 16px;
    margin-top: 322px;
    text-align: center;
}
div.sound{
    width: 1280px;
    margin: 0px auto;
    border: 1px solid green;
    text-align: center;
}
p.sounds{
    margin-top: 127px;
    font-size: 20px;
}
h4.sounds{
    font-size: 52px;
}
p.sounds1{
    font-size: 18px;
}
button.sounds{
    margin-top: 34px;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 105px;
    width: 150px;
    height: 35px;
    background-color: blue;
}
div.plaeyr{
    float:none;
}
img.player{
    margin-top: 50px;
}
div.plugins{
    width: 1280px;
    margin: 0px auto;
    border: 1px solid chocolate;
    background-image: url('../maket/img/Rectangle\ 11.png');
}
img.plugins{
    margin-top: 0px;
    float: left
}
p.plugins{
    font-size: 16px;
    margin-top: 130px;
    margin-left: 231px;
}
span.plugins{
    color: blue;
    font-size: 48px;
}
p.plugins1{
    font-size: 48px;
}
span.plugins1{
    font-size: 18px;
    margin-top: 18px;
    margin-left: 231px;
}
button.plugins{
    margin-top: 50px;
    margin-bottom: 165px;
    margin-left: 231px;
    border: none;
    border-radius: 105px;
    background-color: blue;
    width: 133px;
    height: 37px;
    color: white;
}
div.plugins1{
    vertical-align: middle;
    padding-left: 231px;
}
br.plugins1{
    
}
